In [7]:
import pandas as pd

A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})
A.set_index("movieCd",inplace=True)
B.set_index("movieCd",inplace=True)
r_df=A.combine_first(B)
r_df.reset_index(inplace=True)
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [22]:
import pandas as pd

A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
merged_df["multiMovieYn"] = merged_df["multiMovieYn_A"].combine_first(merged_df["multiMovieYn_B"])
merged_df["repNationCd"] = merged_df["repNationCd_A"].combine_first(merged_df["repNationCd_B"])
merged_df.drop(columns=['multiMovieYn_A', 'repNationCd_A', 'multiMovieYn_B', 'repNationCd_B'], inplace=True)
merged_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K